@use "./mixins.scss" as *;

:root {
    --main-spacing: 50px;
    --container-max-width: 1400px;
    --container-padding: 15px;

    @include breakpoint(20) {
        --container-padding: 30px;
    }


    //colors
    --c-white: #ffffff;
    --c-black: #000000;
    --c-red: #FF0000;
    --c-alto: #D9D9D9;
    --c-midnight: #001122;
    --c-dusty-gray: #949494;
    --c-mirage: #151828;
    --c-alto: #D9D9D9;
    --c-link-water: #F7F7FD;
}