header {
    background-color: var(--c-white);


    .container {
        display: flex;
        justify-content: space-between;

        button {
            color: var(--c-mirage);
        }

        h6 {
            color: var(--c-dusty-gray)
        }

        .nav-item {
            background-color: red;
        }

        .profile {
            display: flex;
            align-items: center;
            gap: 5px;
            cursor: pointer;

            .name {
                color: var(--c-black);
                margin: 0;

                h1 {
                    margin: 0;
                }
            }

            .icon {
                color: var(--c-black)
            }
        }
    }

}