header {
    background-color: var(--c-white);

    .container {
        button {
            color: var(--c-mirage);
        }

        h6 {
            color: var(--c-dusty-gray)
        }

        .nav-item {
            background-color: red;
        }
    }
}