@use "../../styles/mixins" as *;

.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 720px;

    @media screen and (min-height: 650px) {
        min-height: 100vh;
    }
    .grid {
        row-gap: 20px;
    h1,
    p {
        text-align: center;

        &.error-message {
            color: var(--c-red);
        }
    }

    input {
        background-color: var(--c-alto);
            grid-column: 1 / span 6;
            border-radius: 5px;

        @include breakpoint(t) {
            grid-column: 5 / span 4;
        }

        &.loginButton {
            background-color: var(--c-midnight);
            color: var(--c-white);
            cursor: pointer;
        }

        &.error {
            border-color: var(--c-red);
        }
    }
    .drop-menu {
        grid-column: 1 / span 6;
        background-color: var(--c-alto);

        @include breakpoint(t) {
            grid-column: 5 / span 4;
        }
    }
}
}